*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 2200px;
}
a{
	text-decoration:none;
}
#wrap{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
#head{
	color: white;
	width: 100%;
	height: 33%;
	background-image: url('../images/hphead.jpg');
	background-size: 100% 100%;	
}
.head_top{
	width: 100%;
	height: 30%;
}
.htleft{
	width: 30%;
	height: 100%;
	float: left;
	font-family: "幼圆";
}
.htright{
	/*text-align: center;*/
	padding-top: 40px;
	width: 65%;
	height: 90%;
	float: right;
	font-family: "幼圆";
}
.a1, .a2, .a3, .a4{
	margin: 25px;
	font-size: 30px;
	color: white;
}
.head_mid{
	width: 100%;
	height: 40%;
	text-align: center;
	font-family: "幼圆";
	font-size: 60px;
}
.head_dow{
	width: 100%;
	height: 30%;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 60px;
}
#body{
	padding-top: 70px;
	width: 100%;
	height: 34%;
	text-align: center;
}
.leftbutton{
	position: absolute;
	left: 0px;
	top: 290px;
	font-size: 40px;
	color: white;
	width: 40px;
	height: 70px;
	background-color: #cccccc;
	border-color: #cccccc;
	border-radius: 10px;
}
.leftbutton:hover{
	width: 70px;
	height: 70px;
	background-color: #cc3333;
	border-color: #cc3333;
}
.banner{
	background-image: url('../images/首页循环/1.jpg');
}
.img{
	position: relative;
	margin: 0 auto;;
	width: 1000px;
	height: 665px;
}
.rightbutton{
	position: absolute;
	right: 0px;
	top: 290px;
	font-size: 40px;
	color: white;
	width: 40px;
	height: 70px;
	background-color: #cccccc;
	border-color: #cccccc;
	border-radius: 10px;
}
.rightbutton:hover{
	width: 70px;
	height: 70px;
	background-color: #cc3333;
	border-color: #cc3333;
}
#foot{
	width: 100%;
	height: 33%;
	background-image: url('../images/hpfoot.jpg');
	background-size: 100% 100%;
	text-align: center;
}
.footp{
	padding-top: 300px;
	font-size: 100px;
	text-align: center;
	font-family: "Harlow Solid Italic";
	overflow: hidden;
	font-color: white;
	color: white;
}